<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  {% include header.html %}

  <body>
    <!--{{ content }}-->
    <section>
      <center>
        
      <div class="front">
        <h1>Jacob Kaiserman's Personal Website</h1>
         
      </div>
    </center>
      </section>
      <section>
        <h1>slide 2</h1>
      </section>
      <section>
        <h1>slide 3</h1>
      </section>
      <section>
        <h1>slide 4</h1>
      </section>
      <section>
        <h1>slide 5</h1>
      </section>
  </body>
</html>

<style>
html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(even) {
  color: white;
  background: black;
}

section:nth-of-type(odd) {
  color: black;
  background: white;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
}

</style>